<h1>{{title}}</h1>

{{#each formulaires}}
    <div>{{this.id}}</div>
    <div>{{this.nom}} {{this.prenom}}</div>
    <div>{{this.telephone}} {{this.courriel}}</div>
    <div>{{this.sujet}}</div>
    <div>{{this.desc}}</div>
    <hr>
{{/each}}