<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Accueil</a></li>
        <li><a href="/formations">Nos formations</a>
          <ul>
            <li><a href="/formations/MongoDB">Formations MongoDB</a></li>
            <li><a href="/formations/NodeJS">Formations Nodejs</a></li>
          </ul>
        <li><a href="/blog">Le blog</a></li>
        <li><a href="/formulaire/contact">Nous contacter</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
