<h1>{{title}}</h1>
<p>{{intertitre}}</p>
<hr>
{{#each les_formations}}
    <a href="/formations/{{this.id}}">
        <h2>{{this.nom}}</h2>
        <p>{{this.desc}}</p>
        <h6>{{this.prix}}</h6>
    </a>
    <hr>
{{/each}}

